<h1>Edit Photo</h1>

<div>
    <label for="photo caption">Caption:</label>
    <input type="text" name="Caption" value="<%= @i.caption %>">
    </div>
    <label for="photo_image_url">Image URL:</label>
    <input type="text" name="URL" value="<%= @i.source %>">
  </div>
  <div>
    <button>Update Photo</button>
  </div>
</form>