

<form action="http://localhost:3000/update_photo/4">
    <div>
      <label for="the_new_caption">Caption:</label>
      <input type="text" name="the_new_caption" value="<%= @cap %>">
    </div>
    <div>
      <label for="the_new_source">Image URL:</label>
      <input type="text" name="the_new_source" value="<%= @img %>">
    </div>
    <div>
      <button>Update Photo</button>
    </div>
</form>
