<h1>Individual Photo</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Caption</th>
    <th colspan="3">Actions</th>
  </tr>
  <tr>
    <td>
      <img src="<%= @z.source %>" width="80">
    </td>
    <td>
      "<%=@z.caption %>"
    </td>
</table>
